@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: 0, 0%, 100%;
  --foreground: #171717;

  /* Need to add proper hsl values, re-check all */
  --primary: 0%, 0%, 100%;
  --primary-foreground: 0, 0%, 96%;

  --secondary: 0% 0% 100%;
  
  --muted: 0, 0%, 48%;

  --accent: 267, 33%, 51%;
  --accent-blue: 200, 93%, 59%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 0, 0%, 7%;
    --foreground: #ededed;
    
    --primary: 0%, 0%, 100%;
    --primary-foreground: 0, 0%, 96%;
    
    --secondary: 165, 2%, 63%;
    
    --muted: 0, 0%, 48%;
    
    --accent: 267, 33%, 51%;
    --accent-blue: 200, 93%, 59%;
  }
}

body {
  color: var(--foreground);
  background: hsl(var(--background));
}
